{% extends 'front/base.html.twig' %}

{% block disabled_playoff %}
    {% if numSemaine <= 6 and numSemaine >= 9 %}
        isDisabled
    {% endif %}
{% endblock %}

{% block disabled_playoff_small %}
    {% if numSemaine <= 6 and numSemaine >= 9 %}
        isDisabled
    {% endif %}
{% endblock %}

{% block disabled_matchs %}
    {% if numSemaine > 6 %}
        isDisabled
    {% endif %}
{% endblock %}

{% block disabled_matchs_small %}
    {% if numSemaine > 6 %}
        isDisabled
    {% endif %}
{% endblock %}

{% block title %} - Twitch{% endblock %}

{% block css %}
    <style>
        .main-content {
            background-image: url('{{ asset('img/casternest6.png')}}');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: top-left;
        }
    </style>
{% endblock %}


{% block body %}
<div class="main-content">
        <div class="container">
            <h2 class="center-align" style="margin-top: 0; padding-top: 1.78rem;">Live CastersNest</h2>
            <div class="spacer-1"></div>
            <!-- Add a placeholder for the Twitch embed -->
            <div id="twitch-embed" class="center-align"></div>

            <!-- Load the Twitch embed script -->
            <script src="https://embed.twitch.tv/embed/v1.js"></script>

            <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
            <script type="text/javascript">
                var embed = new Twitch.Embed("twitch-embed", {
                    width: 1054,
                    height: 680,
                    channel: "castersnest",
                    layout: "video",
                    autoplay: false
                });

                embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
                    var player = embed.getPlayer();
                    player.play();
                });
            </script>
            <div class="spacer-2"></div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}