{% extends 'front/base.html.twig' %}



{% block disabled_matchs %}
    {% if numSemaine > 6 %}
        isDisabled
    {% endif %}
{% endblock %}

{% block disabled_matchs_small %}
    {% if numSemaine > 6 %}
        isDisabled
    {% endif %}
{% endblock %}

{% block title %}
    - Home
{% endblock %}

{% block css %}
    <style>
        .flex-winner {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .flex-winner img {
            width: 125px;
            height: 125px;
            margin: 10px;
        }

        .flex-player {
            display: flex;
            flex-wrap: wrap;
        }

        .flex-player li {
            flex: 1 1 33%;
            margin: 10px;
            text-align: center;
        }

        .flex-winner div p {
            text-align: center;
            font-size: 1.7em;
        }

        .collection li {
            text-align: center;
            font-size: 1.5em;
        }

        .flex-player li {
            font-size: 1.1em;
        }

        .hero {
            display: inline-block;
            position: relative;
            width: 350px;
            min-width: 350px;
            height: 350px;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
            margin: 30px;
        }

        .hero-profile-img {
            width: 100%;
            height: 100%;
        }

        .hero-description-bk {
            background-image: linear-gradient(0deg,#1e90ff,#12CBC4);
            border-radius: 30px;
            position: absolute;
            top: 55%;
            left: -5px;
            height: 65%;
            width: 108%;
            transform: skew(19deg, -9deg);
            opacity: 0.9;
        }

        .hero-logo {
            height: 80px;
            width: 80px;
            border-radius: 20px;
            background-color: #fff;
            position: absolute;
            bottom: 30%;
            left: 30px;
            overflow: hidden;
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
        }

        .hero-logo img {
            height: 100%;
        }

        .hero-description {
            position: absolute;
            color: black;
            left: 150px;
            bottom: 22%;
        }

        .hero-date {
            position: absolute;
            color: black;
            left: 30px;
            bottom: 7%;
            font-size: 1.1em;
        }

        .center{
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container class=" main-content"">
        <h2 style="text-align: center;">Les vainqueurs de Polaris Series</h2>
        <div class="row center">
            {% for w in winners %}
                <div class="hero">
                    <img class="hero-profile-img" src="{{ asset(w.img)}}" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="{{ asset('img/favicon.png')}}" alt="">
                    </div>
                    <div class="hero-description">
                        <h5>{{ w.nomEquipe }}</h5>
                    </div>
                    <div class="hero-date">
                        <p>{{ w.saison }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript"></script>
{% endblock %}
